Flask==2.0.1
Gunicorn==20.1.0  # WSGI server for running the app in production
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
Werkzeug==2.0.1
# Additional dependencies can be added below as needed
